# Auto detect text files and perform LF normalization
* text=auto
Converting Tools/BLP Converter/*
Converting Tools/MultiConverter/*
Converting Tools/TXID/*
Converting Tools/WoW.Export/*
Converting Tools/WoW.Export.Other/*
Converting Tools/Spell Editor/*
Other Tools/Ladiks MPQ Editor/*
Other Tools/WDBX Editor/*
Script/__pycache__/*
Script/utils/__pycache__/*
__pycache__/*